.hover-font{
    font-family: "myfont";
    transition: font-family 0.2s ease;
}

.hover-font:hover{
    font-family: "myitalic";
}

.container img{
    transition: 0.2s ease-in-out;
} 
.container:hover img{
    transform: translateX(30px);
}