@import "tailwindcss";

@font-face {
  font-family: "myfont";
  src: url("./assets/fonts/LaicaA-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "myitalic";
  src: url("./assets/fonts/LaicaA-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Acumin";
  src: url("./assets/fonts/Acumin-RPro.woff");
  font-weight: normal;
  font-style: normal;
}
